<div class="mainContainer">
    <div class="header">
        <div class="headerContent">
            <img src="../assets/education.svg" alt="">
            <h3>Bookstore</h3>
        </div>
    </div>
    <div class="title">Forgot Your Password?</div>
    <mat-card class="cardContent">
        <div class="input">
            <div class="inputHeader">
                Enter your email address and we'll send you a  link to reset password.
            </div>
            <form [formGroup]="ForgotPasswordForm">
                <div class="rowContent">
                    <mat-label>Email Id</mat-label>
                    <mat-form-field appearance="outline" class="inputField">
                    <input matInput type="text" formControlName="email">
                    <mat-error style="margin-top: 18px;" *ngIf="ForgotPasswordForm.hasError('required', 'email')">Email is required</mat-error>
                    <mat-error style="margin-top: 18px;" *ngIf="ForgotPasswordForm.hasError('email', 'email')">Invalid Email</mat-error></mat-form-field>
                </div>
            </form>
            <button mat-button  class="resetButton" (click)="ForgotPassword()">Reset Password</button>
        </div>
        <div>
            <button mat-button class="createButton" [routerLink]="['/login']">CREATE ACCOUNT</button>
        </div>
    </mat-card> 
</div>

