.header{
    background-color: #A03037;
}

.headerContent{
    margin-left: 15%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    h3{
        margin-left: 5px;
        margin-top: 12px;
        font-size: 25px;
        font-family: Roboto, Regular;
    }
}

.title{
    font-size: 25px;
    font-family: Roboto, Medium;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

.cardContent{
    width: 30%;
    height:40%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding-bottom: 0px !important;
    padding: 0;
}

.input{
    padding: 25px;
}

.inputHeader{
    color: #878787;
    font-size: 15px;
    margin-bottom: 15px;
}

.resetButton{
    background-color: #A03037;
    color: #FFFFFF;
    border-radius: 3px;
    min-width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.createButton{
    background-color: #F9F9F8;
    min-width: 100%;
    height:100px;
    border: 1px solid #E4E4E4;
    border-radius: 0px 0px 6px 6px;
    font-size: 20px;
}

.inputField{
    border:1px #E2E2E2;
    border-radius: 2px;
    align-items: center;
}

.rowContent{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}