<mat-toolbar class="header">
    <div class="menu" style="margin-top: 5px;">
        <img src="../../../assets/education.svg" class="image">
        <mat-card-title style="margin-left: 5px;margin-top: -2px;">
            <span style="color: #FFFFFF;font-weight:normal;">Bookstore</span>
        </mat-card-title>
    </div>
    <div class="searchBar">
        <mat-form-field class="search" appearance="fill">
            <input matInput placeholder="Search" [(ngModel)]="bookName">
            <mat-icon matPrefix style="margin: 0 10px;">search</mat-icon>
        </mat-form-field>
    </div>
    <div class="endIcons">
        <div class="icon">
            <button mat-icon-button class="example-icon favorite-icon iconbutton" [matMenuTriggerFor]="menu"
                (click)="show()">
                <mat-icon class="material-icons-outlined" style="font-size: 27px;  color: #FFFF;
                font-weight: light;">person_outline</mat-icon><br>
                <p class="noteTitle" style="margin-left:-14px;">{{userdetails != null?
                    userdetails.customerName:'Profile'}}</p><br>
                <div class="bottom" *ngIf="open"></div>
            </button>
        </div>
        <div class="icon">
            <button mat-icon-button class="example-icon favorite-icon iconbutton" (click)="page='myCart'">
                <mat-icon class="material-icons-outlined" style="font-size: 22px;color: #EDD8DA;" matBadge="8"
                    matBadgeColor="warn" [matBadgeHidden]="isBadgeHidden">shopping_cart
                </mat-icon><br>
                <p class="noteTitle">cart</p>
            </button>
        </div>
    </div>
</mat-toolbar>
<mat-menu #menu="matMenu" class="matmenu">
    <div class="userProfile">
        <div *ngIf="userdetails == null">
            <h1 style="font-size: 16px;margin: 0;font-weight: 700;">Welcome</h1>
            <p style="color: #888888;">To access account and manage orders</p>
            <button mat-stroked-button style="margin-bottom: 4px;" class="matmenuLoginbutton"
                [routerLink]="['/login']">LOGIN/SIGNUP</button>
            <mat-divider style="margin:10px 5px;"></mat-divider>
            <div class="matmenuIcons">
                <mat-icon mat-list-icon class="maticon" style="margin-right: 3px;">card_travel</mat-icon>
                <h4 mat-line class="maticon">My Orders</h4>
            </div>
            <div class="matmenuIcons" style="margin-top: -10px;" (click)="page='wishList'">
                <mat-icon mat-list-icon class="maticon" style="margin-right: 3px;">favorite_border</mat-icon>
                <h4 mat-line class="maticon">WishList</h4>
            </div>
        </div>
        <div *ngIf="userdetails != null">
            <h1 style="font-size: 16px;margin: 0;font-weight: 700;">Hello {{userdetails.customerName}}</h1>
            <div class="matmenuIcons" (click)="page='userProfile'">
                <mat-icon mat-list-icon class="maticon" style="margin-right: 10px;">person_outline</mat-icon>
                <h4 mat-line class="maticon">Profile</h4>
            </div>
            <div class="matmenuIcons" style="margin-top: -10px;" (click)="page='orders'">
                <mat-icon mat-list-icon class="maticon" style="margin-right: 10px;">card_travel</mat-icon>
                <h4 mat-line class="maticon">My Orders</h4>
            </div>
            <div class="matmenuIcons" style="margin-top: -10px;" (click)="page='wishList'">
                <mat-icon mat-list-icon class="maticon" style="margin-right: 10px;">favorite_border</mat-icon>
                <h4 mat-line class="maticon">WishList</h4>
            </div>
            <button mat-stroked-button style="margin-bottom: 4px;width:110px" class="matmenuLoginbutton"
                (click)="Logout()">LOGOUT</button>
        </div>
    </div>
</mat-menu>
<div class="homeBody">
    <app-get-books [bookName]="bookName" *ngIf="page=='allBooks'"></app-get-books>
    <app-wish-list *ngIf="page=='wishList'"></app-wish-list>
    <app-user-profile *ngIf="page=='userProfile'"></app-user-profile>
    <app-book [bid]="bid" *ngIf="page=='viewBook'"></app-book>
    <app-my-cart *ngIf="page=='myCart'"></app-my-cart>
    <app-my-order *ngIf="page=='orders'"></app-my-order>
    <app-order-successfull *ngIf="page=='orderSuccessful'"></app-order-successfull>
</div>
<div class="footer">
    CopyRight &copy; 2021 Cohort B private limited. All rights received
</div>