@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

mat-toolbar{
    display: flex;
    justify-content: space-around; 
}
::ng-deep .search
 {
     margin-right:100px;
    .mat-form-field-flex {
          display: flex;
          align-items: center;
          height: 50%;
          background-color: white;
          border-radius: 5px!important;
          margin-top: 2em;
          font-size: 15.3px;
          padding: 4px !important;
          border-top: 0 !important;
    }
    .mat-form-field-underline {
      width: 0;
    }
    .mat-form-field-infix {
         border-top: 0 solid transparent; 
    }
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 5px !important; 
}
.image{
    height:26px;
}
.menu{
    display: flex;
    align-items: center;
}
.icon{
    border:0.5px solid #8F2B2F;
    border-radius: unset;
    width: 99px;
    height: 59px;
    display: flex;
    justify-content: center;
}
.endIcons{
    display: flex;
    flex-direction: row;
}
.iconbutton {
        padding: 9px;
        width: -23px;
        height: -23px;
        font-size: 15px;
        line-height: 22px;
}
.noteTitle{
    color: #FFFF;
    font-weight: light;
}
.userProfile{
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}
.matmenuIcons{
    display: flex;
    flex-direction: row;
}
.maticon{
    color:#878787 ;
}
.matmenuLoginbutton{
    width:fit-content;
    border: 1px solid #B35C60;
    color: #B35C60;
}
::ng-deep #mat-menu-panel-0{
    width:fit-content;
    margin-top: 21px !important;
}
.bottom{
    width: 90px !important;
    min-height: 6px;
    background-color: white;
    border-radius: 5px;
    margin-left: -34px;
    margin-top: -34px !important;
}
.homeBody{
    margin-top: 38px;
}
