<div class="mainContainer">
    <div class="header">
        <div class="headerContent">
            <img src="../assets/education.svg" alt="">
            <h3>Bookstore</h3>
        </div>
    </div>
    <div class="title">Reset Your Password</div>
    <mat-card class="cardContent">
        <div class="input">
            <form [formGroup]="ResetPasswordForm">
                <div class="rowContent">
                    <mat-label>New Password</mat-label>
                    <input matInput type="text" formControlName="password">
                    <mat-error *ngIf="ResetPasswordForm.hasError('required', 'password')">Password is required</mat-error>
                </div>
                <div class="rowContent">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="text" formControlName="confirm" pattern="{{this.ResetPasswordForm.value.password}}">
                    <mat-error *ngIf="ResetPasswordForm.hasError('required', 'confirm')">Confirm is required</mat-error>
                    <mat-error *ngIf="ResetPasswordForm.hasError('pattern', 'confirm')">Those passwords didn't match.Try again</mat-error>
                </div>
            </form>
            <button mat-button  class="resetButton">Save Password</button>
        </div>
    </mat-card> 
</div>

