.header{
    background-color: #A03037;
}

.headerContent{
    margin-left: 15%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    h3{
        margin-left: 5px;
        margin-top: 12px;
        font-size: 25px;
        font-family: Roboto, Regular;
    }
}

.title{
    font-size: 25px;
    font-family: Roboto, Medium;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}

.cardContent{
    width: 30%;
    height:40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding-bottom: -32Spx !important;
}

.input{
    padding: 30px;
}

.rowContent{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    input{
        width: 340px;
        height: 30px;
        border: 1px solid #E2E2E2;
        border-radius: 2px;
        opacity: 1;
    }
}

.resetButton{
    background-color: #A03037;
    color: #FFFFFF;
    border-radius: 3px;
    width: 350px;
    margin-bottom: 30px;
}
