<div class="mainContainer">
    <div class="imageContainer">
        <div class="imageContent">
            <img src="../assets/Capture.PNG" alt=""/>
        </div>
        <div class="summary">
            hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
        </div>
    </div>
    <div class="tableContainer">
        <table class="tableContent">
            <thead>
                <th>Email Us</th>
                <th>Contact Us</th>
                <th>Address</th>
            </thead>
            <tr>
                <td>admin@bookstore.com</td>
                <td>+91 8163475881</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" (click)="ContinueShopping()">CONTINUE SHOPPING</button>
    </div>
</div>

