@mixin displayFlex($property:flex, $direction:row,$justifyContent:center,$alignItems:center) {
    display: $property;
    flex-direction:$direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
  }
.booksContainer
{
    margin: 10px;
    @include displayFlex($direction:column,$justifyContent:space-between,$alignItems:center);
    padding-bottom: 15px;
}
.row{
    width: 80%;
    @include displayFlex($direction:row,$justifyContent:space-between,$alignItems:center);
}
.titleRow
{
    @include displayFlex($direction:row,$justifyContent:none,$alignItems:center);
}
.allBooks{
    width: 80%;
    @include displayFlex($direction:row,$justifyContent:flex-start,$alignItems:center);
    flex-wrap: wrap;
    
}
.book{
    margin-top: 25px;
    cursor: pointer;
    box-shadow: none;
    margin-right: 25px;
}
.book:hover{
    
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.sortTag
{
    width: 150px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #E5E5E5;
    padding:3px;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
.bookCard{
    min-width: 240px;
    min-height: 260px;
    padding: 0;
}

.outOfStock{
    background-color: white;
    padding:5px 40px 5px 40px;
    font-weight: 600;
    margin: -50px 0px 0px 0px;
    z-index: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.imageContainer
{
    @include displayFlex($direction:column,$justifyContent:center,$alignItems:center);
    min-height: 150px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    padding-bottom: 15px;
}
.BookContent{
    color:black;
    padding:6px;
}
.bookTitle{
    font-weight: 450;
    font-size: 15px;
    margin: 0;
}
.bookAuthor{
    color: #9C9C9C;
    margin: 2px;
}
.bookRatingContainer{
    margin: 2px;
    display: flex;
    align-items: center;
}
.bookRating
{
    background-color: #388E3C;
    border-radius: 3px;
    padding: 1px 3px 1px 3px;
    color: #FFFFFF;
    font-weight: 500;
    margin: 2px;
}
.image{
    height: 130px;
    width: 100px;
}
.price{
    font-weight: 500;
    font-size: 15px;
    @include displayFlex($direction:row,$justifyContent:space-between,$alignItems:center);
    width: 47%;
    margin-left: 7px;
}
.strike{
    color:#9C9C9C;
}

  .footer{
    @include displayFlex($direction:row,$justifyContent:none,$alignItems:center);
  }
@media only screen and (max-width: 600px) {
    .row{
        width: 30%;
        @include displayFlex($direction:column,$justifyContent:center,$alignItems:center);
    }
    .allBooks{
        width: 30%;
        @include displayFlex($direction:row,$justifyContent:center,$alignItems:center);
        flex-wrap: wrap;
    }
}