<div class="mainContainer">
    <div class="row">
        <div (click)="changePage()" style="color: #9C9C9C;cursor: pointer;">Home</div>
        <div><span style="font-size: 18px;">/</span><span class="home">Profile</span></div>
    </div>
    <div class="formContainer">
        <div class="formContent">
            <div class="header">
                <div class="sub-header">
                    <h1>Personal Details</h1>
                    <p (click)="userDisable=false;userData=this.userdetails" *ngIf="userDisable">Edit</p>
                    <p (click)="userDisable=true;userData=this.userdetails" *ngIf="!userDisable">Cancel</p>
                </div>
                <button mat-raised-button color="primary" *ngIf="!userDisable"
                    (click)="EditUser();userDisable=!userDisable">SAVE</button>
            </div>
            <div class="formField">
                <mat-label>Full Name</mat-label>
                <mat-form-field appearance="outline" class="inputField">
                    <input matInput type="text" [disabled]="userDisable" value="{{userdetails.customerName}}"
                        [(ngModel)]="userData.customerName">
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-label>Email Id</mat-label>
                <mat-form-field appearance="outline" class="inputField">
                    <input matInput type="text" [disabled]="true" value="{{userdetails.email}}">
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-label>Password</mat-label>
                <mat-form-field appearance="outline" class="inputField">
                    <input matInput type="password" [disabled]="true" value="{{userdetails.password}}">
                </mat-form-field>
            </div>
            <div class="formField">
                <mat-label>Mobile Number</mat-label>
                <mat-form-field appearance="outline" class="inputField">
                    <input matInput type="text" [disabled]="userDisable" [value]="userdetails.phoneNumber"
                        [(ngModel)]="userData.phoneNumber">
                </mat-form-field>
            </div>
        </div>
        <div class="formContent">
            <div class="header">
                <h1>Address Details</h1>
                <button mat-stroked-button style="border-color: #A03037;color:#A03037"
                    (click)="OpenAddressForm=true">Add New Address</button>
            </div>
            <div class="NewAddress" *ngIf="OpenAddressForm">
                <div class="header">
                    <div class="sub-header">
                        <h2>New Address</h2>
                    </div>
                    <div class="closeButton">
                    <button mat-raised-button color="primary" (click)="Close()">CLOSE</button>
                </div>
                    <button mat-raised-button color="primary" (click)="AddAddress();">SAVE</button>
                </div>
                <div class="formField">
                    <mat-label>Address</mat-label>
                    <mat-form-field appearance="outline" class="inputField">
                        <textarea matInput type="text" [(ngModel)]="updateAddress.address"></textarea>
                    </mat-form-field>
                </div>
                <div class="formField addressField">
                    <div class="placeField" style="width: 50%; margin-right: 10px;">
                        <mat-label>City/Town</mat-label>
                        <mat-form-field appearance="outline" class="inputField">
                            <input matInput type="text" [(ngModel)]="updateAddress.city">
                        </mat-form-field>
                    </div>
                    <div class="placeField" style="width: 50%;">
                        <mat-label>State</mat-label>
                        <mat-form-field appearance="outline" class="inputField">
                            <input matInput [(ngModel)]="updateAddress.state">
                        </mat-form-field>
                    </div>
                </div>
                <div class="formField">
                    <mat-label>Type</mat-label>
                    <mat-radio-group aria-label="Select an option" class="typeField" [(ngModel)]="updateAddress.type">
                        <mat-radio-button value="Home">Home</mat-radio-button>
                        <mat-radio-button value="Work">Work</mat-radio-button>
                        <mat-radio-button value="Other">Other</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="Address">
                <div class="AddressAsParagraph" *ngIf="!openAddressDetail">
                    <div *ngFor="let adress of data;let i=index" (click)="showAddressDetails(adress,i)">
                        <mat-radio-button class="addressType" value="addressdetails.addressId">{{i+1}}.{{adress.type}}
                        </mat-radio-button>
                        <h2 class="addressTitle">Address</h2>
                        <p class="addressdetails">{{adress.address}}</p>
                    </div>
                </div>
                <div class="ShowAddress" *ngIf="openAddressDetail">
                    <div class="header">
                        <div class="sub-header">
                            <mat-radio-button class="addressType" value="uniqueAddress.addressId">
                                {{index+1}}.{{uniqueAddress.type}}</mat-radio-button>
                            <p (click)="addressDisable=false;data=this.addressdetails" *ngIf="addressDisable"
                                style="margin-top: 7px;">Edit
                            </p>
                            <p (click)="addressDisable=true;data=this.addressdetails" *ngIf="!addressDisable"
                                style="margin-top: 7px;">Cancel
                            </p>
                        </div>
                        <div class="closeButton">
                            <button mat-raised-button color="primary" (click)="Cancel()">CANCEL</button>
                        </div> <button mat-raised-button color="primary" *ngIf="!addressDisable"
                            (click)="EditAddress();addressDisable=!addressDisable">SAVE</button>

                    </div>
                    <div class="formField">
                        <mat-label>Address</mat-label>
                        <mat-form-field appearance="outline" class="inputField">
                            <textarea matInput type="text" [disabled]="addressDisable"
                                [(ngModel)]="uniqueAddress.address"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="formField addressField">
                        <div class="placeField" style="width: 50%; margin-right: 10px;">
                            <mat-label>City/Town</mat-label>
                            <mat-form-field appearance="outline" class="inputField">
                                <input matInput type="text" [disabled]="addressDisable"
                                    [(ngModel)]="uniqueAddress.city">
                            </mat-form-field>
                        </div>
                        <div class="placeField" style="width: 50%;">
                            <mat-label>State</mat-label>
                            <mat-form-field appearance="outline" class="inputField">
                                <input matInput type="text" [disabled]="addressDisable"
                                    [(ngModel)]="uniqueAddress.state">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formField">
                        <mat-label>Type</mat-label>
                        <mat-radio-group aria-label="Select an option" class="typeField"
                            [(ngModel)]="uniqueAddress.type" [disabled]="addressDisable">
                            <mat-radio-button value="Home">Home</mat-radio-button>
                            <mat-radio-button value="Work">Work</mat-radio-button>
                            <mat-radio-button value="Other">Other</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>