.formContent{
    margin-left: 15%;
    margin-bottom: 5%;
}
.mainContainer{
    padding-bottom: 10% !important;
}
.formField{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.sub-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    p{
        margin-left: 10px;
        cursor: pointer;
        color: #A03037;
    }
}

.editAddress{
    color: "#A03037";
    border-color: "#A03037";
}
.inputField{
    background-color: #F5F5F5;
    //background-color: #FFFFFF;
    border-radius: 2px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0 !important; 
}

.addressField{
    display: flex;
    flex-direction: row;
}

.placeField{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 15%;
}
mat-label{
    margin-bottom: 5px;
}

.row{
   width: 80%; 
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   margin-left: 30px;
}